@CHARSET "UTF-8";
* {
    font-family: "Times New Roman", Times, serif;
}

body {
    background: url(../img/background.jpg) 50% 0% no-repeat fixed rgb(15, 15, 15);
}
.container{
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
}
.header {
    width: 100%;
    text-align: center;
    position: relative;
    height: 160px;
    z-index: 99;
    background: #cc969f;
    background: -moz-linear-gradient(top,  #cc969f 0%, #c18f9b 8%, #b77e8a 18%, #944c5c 52%, #843143 73%, #7b2336 85%, #771c30 94%, #771c30 100%);
    background: -webkit-linear-gradient(top,  #cc969f 0%,#c18f9b 8%,#b77e8a 18%,#944c5c 52%,#843143 73%,#7b2336 85%,#771c30 94%,#771c30 100%);
    background: linear-gradient(to bottom,  #cc969f 0%,#c18f9b 8%,#b77e8a 18%,#944c5c 52%,#843143 73%,#7b2336 85%,#771c30 94%,#771c30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc969f', endColorstr='#771c30',GradientType=0 );
}

.header-logo {
    padding-left: 3%
}
.header-menu-item {
    float: right;
}

.header-menu-item a {
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

.header-menu-item a:hover {
    color: #771c30;
    text-decoration: none;
}

.header-menu-item.active {
    text-decoration: none;
    background-color: #771c30;
}

.header-menu-item.active a:hover {
    color: gray !important;
    text-decoration: none;
    background-color: #771c30;
}

.header-menu-mobile {
    display: none;
}

.content {
    flex-shrink:initial;
    background-color: #eee;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto;
}

.header-menu {
    list-style-type: none;
    overflow: hidden;
    padding: 4%;
}

.footer {
    width: 100%;
    min-height: 100px;
    background-color: #771c30;
}

.page-description {
    color: white;
    background: url(../img/background-jumbotron.jpg) 50% 0% no-repeat;
    border-radius: 0 !important;
    background-position: bottom;
    height: 320px;
    width: 100%;
}

.disable{
    pointer-events: none;
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.hide{
    display: none;
}

.error-text{
    color: red;
    font-weight: bold !important
}

.flash {
    margin-bottom: 0;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    border-radius: 0px !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    z-index: 1040;
}
.flash-bottom-right{
    position: fixed;
    bottom: 25px;
    right:0%;
    width: 20%;
    font-weight: bold;
    font-size: 15px
}

.error-page {
    font-size: 36px;
    padding: 20px
}

.table-overflow {
    overflow: auto;
}